<?xml version="1.0" encoding="UTF-8"?>
<context_info xmlns="http://canvas.instructure.com/xsd/cccv1p0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://canvas.instructure.com/xsd/cccv1p0 https://canvas.instructure.com/xsd/cccv1p0.xsd">
  <course_id>454</course_id>
  <course_name>Aula base Educación a distancia (Posgrado)</course_name>
  <root_account_id>228140000000000001</root_account_id>
  <root_account_name>Universidad Catolica de Cordoba</root_account_name>
  <root_account_uuid>3gMBZiQJ1O0IXYDW8plQiJb6g2evo0eoKIhZn0gN</root_account_uuid>
  <canvas_domain>distancia.ucc.edu.ar</canvas_domain>
</context_info>
